* {
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    /* font-size: 70px; */
    font-size: 35px;
    /* animation: flicker 1.5s infinite alternate; */
    color: black;
    font-weight: 600;
}

table {
    width: 80%;
}

td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
    text-align: center;

    /* width: 5vw; */
    /* width: 2.5vw;
    height: 2.5vw; */
    width: 48px;
    height: 48px;
    /* Pixel (px) = (Viewport width unit (vw) * Viewport width) / 100 */

    border: 1px solid black;
    color: black;
    /* size: 12px; */
    font-weight: 600;
    font-size: 19px;
}

span {
    background-color: inherit;
    font-size: 14px;
    text-align: left;
}

.none {
    border: none;
}

.color1,
.box6 {
    background-color: #C0D7F0;
    box-shadow: inset 0px 0px 16px 0px #7795CD;

}

.color2,
.box1 {
    background-color: #F7AAC0;
    box-shadow: inset 0px 0px 16px 0px #F37A8D;
}

.color3,
.box2 {
    background-color: #FFDCA9;
    box-shadow: inset 0px 0px 16px 0px #F9A06F;
}

.color4,
.box9 {
    background-color: #E7DAD4;
    box-shadow: inset 0px 0px 16px 0px #B3897E;

}

.color5,
.box3 {
    background-color: #FEFCDC;
    box-shadow: inset 0px 0px 16px 0px #FCF599;

}

.color6,
.box5 {
    background-color: #93D9F5;
    box-shadow: inset 0px 0px 16px 0px #50CAF1;
}

.color7,
.box4 {
    background-color: #D4EBD8;
    box-shadow: inset 0px 0px 16px 0px #7FC998;
}

.color8,
.box7 {
    background-color: #E0E0F0;
    box-shadow: inset 0px 0px 16px 0px #9899CC;
}

.color9,
.box8 {
    background-color: #E1CFE5;
    box-shadow: inset 0px 0px 16px 0px #AA8FC3;
}

.color10,
.box10 {
    background-color: #F4DCD4;
    box-shadow: inset 0px 0px 16px 0px #D79280;

}

/* 
.color11 {
    background-color: #859998;
    box-shadow: inset 0px 0px 16px 0px #3ef008;
} */

td:hover {
    filter: brightness(100%);
    color: rgb(41, 40, 40);
    border: 1px solid gray;
    border: none;

}

.info-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 60px;
    font-size: 14px;
    border: 1px solid black;
    color: black;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
}


/* * {
        margin: 0;
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .heading {
        font-size: 70px;
        color:black;
    }
    
    td {
        text-align: center;
        width: 5vw; 
        border: 1px solid black;
        color: black;
        size: 12px;
        font-weight: 700;
    }
    
    .none {
        border: none;
    }
    
    .color1 {
        background-color: #00b6bc;
    }
    
    .color2 {
        background-color: #1b67c9;
    }
    
    .color3 {
        background-color: #a1669f;
    }
    
    .color4 {
        background-color: #004e75;
    }
    
    .color5 {
        background-color: #f53951;
    }
    
    .color6 {
        background-color: #f5b659;
    }
    
    .color7 {
        background-color: #f36d4a;
    }
    
    .color8 {
        background-color: #59cf6e;
    }
    
    .color9 {
        background-color: #329090;
    }
    
    .color10{
        background-color: #562d56;
    }
    
    .color11{
        background-color: #859998;
    }
    
    td:hover {
        filter: brightness(100%);
        color: white;
        border: 1px solid white;
    } */